@import 'pell/dist/pell.min.css';

html {
  font-family: BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}
html, input, select, option, text {
  font-size: 12pt;
}
body { padding: 0.5rem 1rem; }

* {
  box-sizing: border-box;
}

* + * {
  margin: .5em 0;
}

a { text-decoration: none; }
a[target="_blank"]:after {
  font-size: 70%;
  vertical-align: top;
  margin-left: 3px;
  content: "\29C9"; /* two joined squares for external link */
}

.t {
  font-size: 1.5em;
  font-weight: bold;
}
.w1, w34, w12, w14, .r, main { width: 100%; }
@media(min-width:35em) {
  body > header, body > footer { max-height: 5vh; }
  main { min-height: 90vh; }
  .r, main {
      display: table;
      border-spacing: 1em 0;
  }
  .c, main > nav, main > section {
      display: table-cell;
      vertical-align: top;
  }
  .sb {
    width: 20%;
    min-width: 200px;
    max-width: 500px;
  }
  .w34 { width: 75%; }
  .w12 { width: 50%; }
  .w14 { width: 25%; }
}
.sr {
  visibility: hidden;
  height: 0;
  width: 0;
  position: absolute;
}
.tr { text-align: right; }
.fr { float: right; }
.alert { border: 2px solid red; }
.il { display: inline; }

/* User Content */
.uc a {
  text-decoration: underline;
}