@import 'pell/dist/pell.min.css';

html {
  font-family: BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}
html, input, select, option, text {
  font-size: 12pt;
}
body { padding: 0 1rem; }

* {
  box-sizing: border-box;
}

* + * {
  margin: .5em 0;
}

a { text-decoration: none; }
a[target="_blank"]:after {
  font-size: 70%;
  vertical-align: top;
  margin-left: 3px;
  content: "\29C9"; /* two joined squares for external link */
}

ul { padding: 0 0 0 1rem; }

label { display: block; }

/* title */
.t {
  font-size: 1.5em;
  font-weight: bold;
}
/* default width for all widths is 100% for small screens—no columns */
.w1, w34, w12, w14, .r, main { width: 100%; }
@media(min-width:35em) {
  body > header, body > footer { max-height: 5vh; }
  main { min-height: 90vh; }
  /* row */
  .r, main {
      display: table;
      border-spacing: 1em 0;
  }
  /* column */
  .c, main > nav, main > section {
      display: table-cell;
      vertical-align: top;
  }
  /* sidebar */
  .sb {
    width: 20%;
    min-width: 200px;
    max-width: 500px;
  }
  /* sidebar toggle */
  .sbt { display: none; }
  /* fractional widths */
  .w34 { width: 75%; }
  .w12 { width: 50%; }
  .w13 { width: 33%; }
  .w14 { width: 25%; }
}

/* screen reader only */
.sr {
  visibility: hidden;
  height: 0;
  width: 0;
  position: absolute;
}
.tr { text-align: right; }
.fr { float: right; }
.alert { border: 2px solid red; }
.il { display: inline; }
.ib { display: inline-block; }
.at { vertical-align: top; }

/* field help */
.h { font-size: 0.8em; }

/* extra padding on bottom only */
.pb { margin: 0 0 1.5em; }

/* User Content */
.uc a {
  text-decoration: underline;
}

/**** pell edior ***/
.pell {
  border: 1px solid #888;
}
.pell * {
  margin: unset;
}

.pell-content, .editor {
  width: 100%;
  height: 300px;
  outline: 0;
  overflow-y: auto;
  padding: 10px;
  margin: 0;
}

.pell-actionbar {
  background-color: #fff;
  border-bottom: 1px solid #888;
}

.pell-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  height: 30px;
  outline: 0;
  width: 30px;
  vertical-align: middle;
}

.pell-button-selected {
  background-color: #ddd;
}
